.text {
	width: '90%';
    margin: 0px 10px 10px 10px;          
    padding-left: 10px;
	padding-right: 10px;
    font-weight: 500;
	color: red;
}

.sideleft {
	width:180px;
	flex-shrink: 0;
	box-sizing: border-box;
	background-color: lightgrey;
}

.table {
	max-height: 500px;min-height: 300px;
}

